Repository thomasvincent/chef-hbase-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, kitchen-yml-validate, metadata-validate, ensure-changelog-updated

check-github-workflows:
  name: Check GitHub Workflows
  description: Check GitHub Actions workflows
  entry: ruby -e 'require "yaml"; ARGV.each do |file| begin; YAML.load_file(file); rescue => e; puts "Error in
  language: ruby
  pass_filenames: true

kitchen-yml-validate:
  name: Test Kitchen YAML validation
  description: Validate Test Kitchen configuration files
  entry: ruby -ryaml -e "puts 'Validating kitchen.yml'; YAML.load_file('kitchen.yml'); puts 'Kitchen YAML valid'"
  language: ruby
  pass_filenames: false

metadata-validate:
  name: Metadata validation
  description: Validate metadata.rb format and version
  ...

ensure-changelog-updated:
  name: Ensure CHANGELOG.md is updated
  description: Check that CHANGELOG.md contains entry for current version
  ...

Fix RuboCop configuration: replace deprecated cop
  .rubocop.yml
Due: none

Fix Cookstyle violations in recipes
  recipes/java.rb
  recipes/limits.rb
Due: none

Fix Cookstyle violations: auto-correct formatting issues
  Rakefile
  attributes/default.rb
  libraries/hbase_helper.rb
  metadata.rb
  policyfile.rb
  recipes/backup_master.rb
  recipes/config.rb
  recipes/default.rb
  recipes/install.rb
  recipes/java.rb
  recipes/master.rb
  recipes/regionserver.rb
  recipes/rest.rb
  recipes/thrift.rb
  recipes/user.rb
  resources/hbase_config.rb
  resources/hbase_service.rb
  spec/spec_helper.rb
  spec/unit/libraries/hbase_helper_spec.rb
  spec/unit/recipes/config_spec.rb
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/recipes/master_spec.rb
  spec/unit/recipes/regionserver_spec.rb
  spec/unit/recipes/user_spec.rb
  spec/unit/resources/hbase_config_spec.rb
  spec/unit/resources/hbase_service_spec.rb
  test/integration/default/default_test.rb
  test/integration/distributed/distributed_test.rb
  test/integration/kerberos/kerberos_test.rb
  test/integration/rest/rest_test.rb
  test/integration/thrift/thrift_test.rb
Due: metadata-validate, ensure-changelog-updated

feat: hbase 2.x support, tests, CI, security
  README.md
  attributes/default.rb
  recipes/default.rb
Due: none

feat: modernize to 2026 Chef standards
  .github/workflows/ci.yml
  .rubocop.yml
  CLAUDE.md
  Gemfile
  Rakefile
  attributes/default.rb
  libraries/hbase_helper.rb
  metadata.rb
  policyfile.rb
  recipes/backup_master.rb
  recipes/config.rb
  recipes/default.rb
  recipes/install.rb
  recipes/java.rb
  recipes/limits.rb
  recipes/master.rb
  recipes/regionserver.rb
  recipes/rest.rb
  recipes/thrift.rb
  recipes/user.rb
  resources/hbase_config.rb
  resources/hbase_service.rb
  spec/spec_helper.rb
  spec/unit/libraries/hbase_helper_spec.rb
  spec/unit/recipes/config_spec.rb
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/recipes/master_spec.rb
  spec/unit/recipes/regionserver_spec.rb
  spec/unit/recipes/user_spec.rb
  spec/unit/resources/hbase_config_spec.rb
  spec/unit/resources/hbase_service_spec.rb
  test/integration/default/default_test.rb
  test/integration/distributed/distributed_test.rb
  test/integration/kerberos/kerberos_test.rb
  test/integration/rest/rest_test.rb
  test/integration/thrift/thrift_test.rb
Due: check-github-workflows, metadata-validate, ensure-changelog-updated

feat: modernize to 2026 Chef standards
  .github/workflows/ci.yml
  .rubocop.yml
  CLAUDE.md
  libraries/hbase_helper.rb
  metadata.rb
  recipes/backup_master.rb
  recipes/master.rb
  recipes/regionserver.rb
  recipes/rest.rb
  recipes/thrift.rb
  spec/spec_helper.rb
  spec/unit/recipes/config_spec.rb
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/recipes/master_spec.rb
  spec/unit/recipes/regionserver_spec.rb
  spec/unit/recipes/user_spec.rb
  spec/unit/resources/hbase_config_spec.rb
Due: check-github-workflows, metadata-validate, ensure-changelog-updated

fix(ci): trigger CI on master branch (not main)
  .github/workflows/ci.yml
Due: check-github-workflows

fix(deps): pin rspec < 3.13 to fix ChefSpec unit test failure
  Gemfile
Due: none

fix(test): use correct ChefSpec platform syntax
  spec/unit/resources/hbase_service_spec.rb
Due: none

fix(ci): install Policyfile dependencies before running ChefSpec
  .github/workflows/ci.yml
Due: check-github-workflows

fix(ci): use chef-cli for Policyfile installation
  .github/workflows/ci.yml
Due: check-github-workflows

fix(ci): use correct case for policyfile.rb path
  .github/workflows/ci.yml
Due: check-github-workflows

fix: rename policyfile.rb to Policyfile.rb (standard convention)
  Policyfile.rb
Due: none

fix(ci): update policyfile path to match renamed file
  .github/workflows/ci.yml
Due: check-github-workflows

fix(spec): add missing node attributes for hbase_service ChefSpec tests
  spec/unit/resources/hbase_service_spec.rb
Due: none

fix(ci): align integration test matrix with kitchen.yml instance names
  .github/workflows/ci.yml
Due: check-github-workflows

fix(attrs): update HBase version from 2.4.0 to 2.6.4
  attributes/default.rb
Due: none

Path conditions:
  check-github-workflows: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  kitchen-yml-validate: any of: ^kitchen.*\.ya?ml$
  metadata-validate: any of: ^metadata\.rb$
  ensure-changelog-updated: any of: ^(metadata\.rb|CHANGELOG\.md)$
