Repository thomasvincent/chef-hbase-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, kitchen-yml-validate, metadata-validate, ensure-changelog-updated

Path conditions:
  check-github-workflows: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  kitchen-yml-validate: any of: ^kitchen.*\.ya?ml$
  metadata-validate: any of: ^metadata\.rb$
  ensure-changelog-updated: any of: ^(metadata\.rb|CHANGELOG\.md)$

fix: update RuboCop configuration with modern cop names
  .rubocop.yml
Due: none

fix: update RuboCop configuration for modern Cookstyle
  .rubocop.yml
Due: none

chore: remove legacy files and modernize project structure
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/semver.yml
  .pre-commit-config.yaml
  .rubocop.yml
  Dockerfile.kitchen
  kitchen.docker.yml
  kitchen.yml
  spec/unit/libraries/hbase_helper_spec.rb
  spec/unit/recipes/config_spec.rb
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/recipes/master_spec.rb
  spec/unit/recipes/regionserver_spec.rb
  spec/unit/recipes/user_spec.rb
  spec/unit/resources/hbase_config_spec.rb
  spec/unit/resources/hbase_service_spec.rb
  test-docker.sh
Due: check-github-workflows, kitchen-yml-validate

Configure daily dependency updates and cleanup
  .github/dependabot.yml
Due: none

fix: modernize GitHub Actions and remove EOL platform support
  .github/workflows/ci.yml.backup
  .github/workflows/dependabot-auto.yml.backup
  .github/workflows/pre-commit.yml.backup
  .github/workflows/release.yml.backup
  .github/workflows/semver.yml.backup
Due: none

fix: update Ruby version to 3.2 for Chef compatibility
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .tool-versions
Due: check-github-workflows

chore: update to latest GitHub Actions and Chef 19 tools
  .github/workflows/ci.yml
  Gemfile
Due: check-github-workflows

feat: modernize cookbook for Chef 19+ with updated dependencies
  .github/workflows/ci.yml
  Gemfile
  metadata.rb
Due: check-github-workflows, metadata-validate, ensure-changelog-updated

feat: modernize Docker testing with Chef 19 and optimized Dokken setup
  kitchen.docker.yml
  kitchen.yml
Due: kitchen-yml-validate

Fix Gemfile dependencies and spec setup
  Gemfile
  spec/spec_helper.rb
  spec/unit/libraries/hbase_helper_spec.rb
Due: none

Update Gemfile Co-authored-by: Copilot <175728472+Copilot@users.noreply.github.com>
  Gemfile
Due: none

Update Gemfile
  Gemfile
Due: none

chore: drop legacy tooling
  .rubocop.yml
  Gemfile
  README.md
  Rakefile
  kitchen.docker.yml
  kitchen.yml
  libraries/hbase_helper.rb
  metadata.rb
  spec/spec_helper.rb
  spec/unit/libraries/hbase_helper_spec.rb
  test-docker.sh
Due: kitchen-yml-validate, metadata-validate, ensure-changelog-updated

Update libraries/hbase_helper.rb Co-authored-by: Copilot <175728472+Copilot@users.noreply.github.com>
  libraries/hbase_helper.rb
Due: none

Update libraries/hbase_helper.rb
  libraries/hbase_helper.rb
Due: none

Update .rubocop.yml Co-authored-by: Copilot <175728472+Copilot@users.noreply.github.com>
  .rubocop.yml
Due: none

Update .rubocop.yml
  .rubocop.yml
Due: none

feat: add pre-commit hooks for ruby_chef
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

chore: add Dependabot configuration - Enable automated dependency updates - Configure weekly update schedule - Add appropriate labels for PRs
  .github/dependabot.yml
Due: none

chore: add Dependabot configuration
  .github/dependabot.yml
Due: none

chore: bump actions/checkout from v2/v3/v4/v5 to v6
  .github/workflows/ci.yml
Due: check-github-workflows

feat: add pre-commit hooks for ruby_chef (#5)
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

chore: update GitHub Actions to latest versions (Jan 2025)
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/semver.yml
Due: check-github-workflows

refactor: apply GitHub Actions best practices
  .github/workflows/ci.yml
Due: check-github-workflows

Fix CI workflow issues
  .github/workflows/ci.yml
Due: check-github-workflows

fix: update GitHub Actions to v6 for consistency Updated all GitHub Actions in CI workflows to use the latest v6 versions for better compatibility and features. Fixes CI workflow failures.
  .github/workflows/ci.yml
Due: check-github-workflows

fix(ci): correct branch references to match default branch
  .github/workflows/ci.yml
Due: check-github-workflows
