Repository thomasvincent/chef-hbase-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, kitchen-yml-validate, metadata-validate, ensure-changelog-updated

Path conditions:
  check-github-workflows: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  kitchen-yml-validate: any of: ^kitchen.*\.ya?ml$
  metadata-validate: any of: ^metadata\.rb$
  ensure-changelog-updated: any of: ^(metadata\.rb|CHANGELOG\.md)$

fix(ci): use current Chef Docker image tag for dokken
  kitchen.yml
Due: kitchen-yml-validate

fix: resolve EISDIR error by not creating install_dir for binary installs
  recipes/install.rb
  spec/unit/recipes/install_spec.rb
Due: none

fix(ci): use chef/chef:18 docker image tag
  kitchen.yml
Due: kitchen-yml-validate

fix: systemd unit validation and Amazon Linux 2023 java install
  recipes/java.rb
  resources/hbase_service.rb
  spec/unit/resources/hbase_service_spec.rb
Due: none

fix: correct HBase binary path (remove /current/ from path)
  resources/hbase_service.rb
  spec/unit/resources/hbase_service_spec.rb
Due: none

fix: add HBASE_PID_DIR/LOG_DIR env vars and increase start timeout
  resources/hbase_service.rb
Due: none

style: fix cookstyle string literal offense
  resources/hbase_service.rb
Due: none

fix: update spec to match new env vars and TimeoutStartSec
  spec/unit/resources/hbase_service_spec.rb
Due: none

fix: make java verification idempotent, disable multi-converge
  kitchen.yml
  recipes/java.rb
Due: kitchen-yml-validate

fix: stub java -version command in ChefSpec tests
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
Due: none

Use self-hosted runners for integration tests
  .github/workflows/ci.yml
Due: check-github-workflows

Use self-hosted runners for integration tests (#16)
  .github/workflows/ci.yml
Due: check-github-workflows

Migrate all CI jobs to self-hosted DigitalOcean runners
  .github/workflows/ci.yml
Due: check-github-workflows

Fix CI psych gem compilation errors with Ruby 3.2
  Gemfile
Due: none

Fix CI psych gem compilation errors with Ruby 3.2 (#17)
  Gemfile
Due: none

chore: remove unused config files
  CLAUDE.md
Due: none

docs: enhance README with Recipes and Contributing sections
  .gitignore
  README.md
Due: none

fix: constrain RSpec to < 3.13 for ChefSpec 9.3.6 compatibility
  Gemfile
Due: none

ci: migrate from self-hosted to ubuntu-latest runners
  .github/workflows/ci.yml
Due: check-github-workflows

chore: add CLAUDE.md
  CLAUDE.md
Due: none

fix: add chef_license to inspec verifier configuration
  kitchen.yml
Due: kitchen-yml-validate

fix: propagate CHEF_LICENSE to kitchen test step
  .github/workflows/ci.yml
Due: check-github-workflows

fix: add CHEF_LICENSE env_vars to verifier config
  kitchen.yml
Due: kitchen-yml-validate

fix: use inspec-core 6.x to resolve integration test license failures
  Gemfile
Due: none

Fix integration test failures by switching to CINC provisioner
  kitchen.yml
Due: kitchen-yml-validate

fix(deps): ignore rspec-its 2.0+ in dependabot
  .github/dependabot.yml
Due: none

fix: add libyaml-dev to CI build dependencies
  .github/workflows/ci.yml
Due: check-github-workflows
