Repository thomasvincent/chef-hbase-cookbook: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-github-workflows, kitchen-yml-validate, metadata-validate, ensure-changelog-updated

Path conditions:
  check-github-workflows: any of: \.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  kitchen-yml-validate: any of: ^kitchen.*\.ya?ml$
  metadata-validate: any of: ^metadata\.rb$
  ensure-changelog-updated: any of: ^(metadata\.rb|CHANGELOG\.md)$

fix: remove EOL platforms, pin GitHub Actions SHAs
  .github/workflows/ci.yml
  kitchen.yml
Due: check-github-workflows, kitchen-yml-validate

feat: add validation for required attributes in binary installation
  recipes/install.rb
Due: none

fix: remove EOL platforms, pin GitHub Actions SHAs (#24)
  .github/workflows/ci.yml
  kitchen.yml
  recipes/install.rb
Due: check-github-workflows, kitchen-yml-validate

fix: enable JMX authentication and SSL by default
  attributes/default.rb
  recipes/config.rb
  templates/default/jmxremote.access.erb
  templates/default/jmxremote.password.erb
Due: none

fix: enable JMX authentication and SSL by default (#25)
  attributes/default.rb
  recipes/config.rb
  templates/default/jmxremote.access.erb
  templates/default/jmxremote.password.erb
Due: none

fix: pin rspec to ~>3.12.0 for chefspec 9.3.6 compatibility
  Gemfile
Due: none

fix: update CI workflow to trigger on main branch
  .github/workflows/ci.yml
Due: check-github-workflows

fix(deps): ignore rspec-its 2.0+ in dependabot (#22)
  .github/dependabot.yml
  .github/workflows/ci.yml
  Gemfile
Due: check-github-workflows

fix: add hbase checksum to unit test fixtures
  kitchen.yml
  mise.toml
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/recipes/master_spec.rb
  spec/unit/recipes/regionserver_spec.rb
Due: kitchen-yml-validate

fix: add hbase checksum to unit test fixtures (#29)
  kitchen.yml
  mise.toml
  spec/unit/recipes/default_spec.rb
  spec/unit/recipes/install_spec.rb
  spec/unit/recipes/master_spec.rb
  spec/unit/recipes/regionserver_spec.rb
Due: kitchen-yml-validate

ci: migrate from self-hosted to ubuntu-latest runners
  .github/workflows/ci.yml
Due: check-github-workflows

fix: use inspec-core 6.x to resolve integration test license failures
  Gemfile
Due: none

docs: enhance README with Recipes and Contributing sections
  .gitignore
  README.md
Due: none

fix: add chef_license to inspec verifier configuration
  kitchen.yml
Due: kitchen-yml-validate

fix: propagate CHEF_LICENSE to kitchen test step
  .github/workflows/ci.yml
Due: check-github-workflows

Fix integration test failures by switching to CINC provisioner
  kitchen.yml
Due: kitchen-yml-validate

fix: constrain RSpec to < 3.13 for ChefSpec 9.3.6 compatibility
  Gemfile
Due: none

fix: add CHEF_LICENSE env_vars to verifier config
  kitchen.yml
Due: kitchen-yml-validate

docs: harmonize cookbook documentation and formatting (#30)
  .github/workflows/ci.yml
  .gitignore
  Gemfile
  README.md
  kitchen.yml
Due: check-github-workflows, kitchen-yml-validate
